*{
    font-family: "inter";
}

.site-title{
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
}

.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 12px 20px;
    border-radius: 15px;
    margin: 20px;
}

.header-right a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    margin-right: 100px;
}

body {
    background-color: antiquewhite;
}

p {
    color:rgb(0, 0, 0)
    
}
.card {
    min-width: 350px;
    max-width: 750px;
    height: auto;
    background-color: rgb(236, 220, 193);
    font-size: 20px;
    margin: 25px auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center ;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card a {
    text-decoration: underline;
    color: #0026ff;
}

.container {
    margin: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerblocks {
    margin: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    font-family: "inter";
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin: 25px auto;
    width: 400px;
    padding: 5px;
    background-color:rgb(255, 221, 180);
    border-radius: 15px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.filterbutton {
    background-color: rgb(255, 221, 180);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}